*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(#ff8f1f, #ce4c01);
  color: white;
  font-family: Lato, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 80px;
}

.secondary_header {
  background-color: #eeeeed;
  color: black;
  font-size: 40px;
  padding-block: 20px;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 24px;
  gap: 24px 32px;
}

.card {
  border: 2px solid gray;
  border-radius: 4px;
  padding: 18px 24px;
  fill: 20%;
}

.card__header {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.card__header__avatar img {
  height: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.card__header__title {
  font-size: 32px;
  font-weight: bold;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
